{% extends "layout.html" %}
{% block content %}
	<div>
			<form action="{{ url_for('movie_reco2') }}" method="POST">
				{{ form.hidden_tag() }}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Enter a movie</legend>
					<div class="form-group">
						{{ form.movie_name.label(class="form-control-label") }}
						{{ form.movie_name(class="form-control form-control-lg") }}
					</div>
				</fieldset>
				<div class="form-group">
					{{ form.submit(class="btn btn-outline-info") }}
				</div>

				{% if indicator == 0 %}
				<p>Sorry, we didn't find the movie you were looking for.</p>

				{% elif indicator == 1 %}
				<p>Top 10 most similar and highly rated movies below.</p>

				{% elif indicator == 2 %}
				<p>Multiple movies match that title! Please input the full movie title (including the year) from the movies below.</p>

				{% endif %}

			</form>

		<!-- delete this line if broken -->
		{{ the_output|safe }}	
	</div>
	<br><br>
{% endblock content %}
